@model Vidly.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    <h4>Use another service to log in.</h4>

    <hr />

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        <div id="socialLoginList" class="d-flex flex-column">

            @foreach (AuthenticationDescription description in loginProviders)
            {
                var type = description.AuthenticationType;

                <button type="submit"
                        class="btn btn-primary m-1"
                        id="@type"
                        name="provider"
                        value="@type"
                        title="Log in using your @description.Caption account">

                    @if (type.ToLower() == "google")
                    {
                        <i class="fa-brands fa-google mx-1"></i> @type
                    }

                    @if (type.ToLower() == "facebook")
                    {
                        <i class="fa-brands fa-facebook mx-1"></i> @type
                    }

                    @if (type.ToLower() == "twitter")
                    {
                        <i class="fa-brands fa-twitter mx-1"></i> @type
                    }

                </button>
            }

        </div>

        @Html.AntiForgeryToken()
    }

}
