@{
    ViewBag.Title = "Confirm Email";
}

<div class="container-sm">
    
    <div class="row-my-1">
        
        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            @if (!User.Identity.IsAuthenticated)
            {
                <h2 class="lead">Thank you for confirming your email. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "link-primary" }) to Log in.</h2>
            }
            else
            {
                <h2 class="lead">Thank you for confirming your email.</h2>

            }
        </div>

    </div>

</div>
