.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.btn {
    text-transform: none;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
}