.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.btn {
    text-transform: none;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.btn:focus,
.btn:focus:active {
    box-shadow: none;
}

table.dataTable tbody td {
    vertical-align: middle;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-column > tbody > tr.parent td.dtr-control:before {
    background-color: #158cba;
}

.pagination > li > a {
    text-transform: none;
}