@{
    ViewBag.Title = "About";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">Who</h1>

            <hr />

            <p>
                Hi, I'm Stevan Freeborn. I am well...someone who likes to make things and put them on the interwebz.
            </p>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">What</h1>

            <hr />

            <p>
                Vidly is a software management tool for small, privately-owned, video rental businesses. I originally began building it as part of a course I was taking from <a href="https://codewithmosh.com" target="_blank" class="link-primary">Code With Mosh</a> but after finishing the course I decided to keep developing the project as a portfolio piece. I've extended the functionality of the site quite a bit and have learned a lot while building it.
            </p>

            <p>
                I've worked with the following technologies while building the app.
            </p>

            <ul>
                <li>
                    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" class="link-primary">ASP.NET</a>
                </li>
                <li>
                    <a href="https://jquery.com/" target="_blank" class="link-primary">jQuery</a>
                </li>
                <li>
                    <a href="https://jqueryvalidation.org/" target="_blank" class="link-primary">jQuery Validation</a>
                </li>
                <li>
                    <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" class="link-primary">Bootstrap</a>
                </li>
                <li>
                    <a href="https://bootswatch.com/" target="_blank" class="link-primary">Bootswatch</a>
                </li>
                <li>
                    <a href="https://codeseven.github.io/toastr/" target="_blank" class="link-primary">Toastr</a>
                </li>
                <li>
                    <a href="https://docs.microsoft.com/en-us/ef/" target="_blank" class="link-primary">Entity Framework</a>
                </li>
                <li>
                    <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="link-primary">MS SQL Server</a>
                </li>
                <li>
                    <a href="https://github.com/glimpse/Docs" target="_blank" class="link-primary">Glimpse</a>
                </li>
            </ul>

            <p>
                The app is hosted using <a href="https://azure.microsoft.com/en-us/" target="_blank" class="link-primary">Azure</a> and their <a href="https://azure.microsoft.com/en-us/services/app-service/web/" target="_blank" class="link-primary">Web Apps services</a>.
            </p>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">Why</h1>

            <hr />

            <p>
                I've been learning how to code and wanted to build an app using ASP.NET, MVC, jQuery, Bootstrap, Entity Framework, and MS SQL Server which led to me signing up for <a href="https://codewithmosh.com/p/asp-net-mvc" target="_blank" class="link-primary">The Complete ASP.NET MVC 5 Course</a> on  <a href="https://codewithmosh.com" target="_blank" class="link-primary">Code With Mosh</a>. The example project for that course was Vidly. In hindsight now it's kind of funny thinking about building a piece of software for a business model that is largely extinct.'
            </p>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">Issues</h1>

            <hr />

            <p>
                If you come across any errors, missing information, or would like to suggest changes, please contribute by creating an issue or a pull request on <a href="https://github.com/StevanFreeborn/Vidly" target="_blank" class="link-primary">GitHub</a>.
            </p>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">Contact</h1>

            <hr />

            <p>
                If you would like to talk about the project or discuss the finer points of brewing a great cup of coffee, send me an email at stevan.freeborn@gmail.com. I would love to chat with you.
            </p>

        </div>

    </div>

    <div class="row my-1">

        <div class="col-12">

            <h1 class="fs-3 text-primary">License</h1>

            <hr />

            <div>
                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
            </div>

        </div>

    </div>

</div>

