@{
    ViewBag.Title = "Contact";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <p>
                If you would like to talk about the project or discuss the finer points of brewing a great cup of coffee, send me an email at stevan.freeborn@gmail.com. I would love to chat with you.
            </p>

            <h2 class="fs-4 fw-light">Socials</h2>

            <div class="my-2">
                <a href="https://github.com/StevanFreeborn?tab=repositories" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-brands fa-github fa-2x fa-fw mx-2 text-primary"></i> <span class="fs-5">GitHub</span>
                </a>
            </div>

            <div class="my-2">
                <a href="https://www.instagram.com/stevan.freeborn" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-brands fa-instagram fa-2x fa-fw mx-2 text-primary"></i> <span class="fs-5">Instagram</span>
                </a>
            </div>

            <div class="my-2">
                <a href="https://twitter.com/stevan_freeborn" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-brands fa-twitter fa-2x fa-fw mx-2 text-primary"></i> <span class="fs-5">Twitter</span>
                </a>
            </div>

            <div class="my-2">
                <a href="https://www.youtube.com/channel/UCPL5PeHpfOSnovdPalF3CTw" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-brands fa-youtube fa-2x fa-fw mx-2 text-primary"></i> <span class="fs-5">YouTube</span>
                </a>
            </div>

            <div class="my-2">
                <a href="https://www.facebook.com/stevanreece" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-brands fa-square-facebook fa-2x fa-fw mx-2 text-primary"></i> <span class="fs-5">Facebook</span>
                </a>
            </div>

            <div class="my-2">
                <a href="https://stevanfreeborn.com" target="_blank" class="d-flex flex-row align-items-center link-dark text-decoration-none">
                    <i class="fa-solid fa-globe fa-2x fa-fw mx-2 text-primary"></i><span class="fs-5">Website</span>
                </a>
            </div>

        </div>

    </div>

</div>