@using Vidly.Models

@{
    ViewBag.Title = "Movies";
}
<div class="container">

    <div class="row align-items-center my-1">

        <div class="col-6">

            <h1 class="display-6">Movies</h1>

        </div>

        <div class="col-6 text-end">

            @if (User.Identity.IsAuthenticated && User.IsInRole(RoleName.CanManageMovies))
            {
                @Html.ActionLink("Add Movie", "Add", null, new { @class = "btn btn-sm btn-primary" })
            }

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <table id="movies-table" class="table table-hover nowrap w-100">

                <thead>
                </thead>

                <tbody>
                </tbody>

            </table>

        </div>

    </div>

    @Html.Partial("_DeleteModal")

</div>

@section scripts
{
    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleName.CanManageMovies))
    {
        <script type="module" src="~/Scripts/Views/Movies/IndexEdit.js"></script>
    }
    else
    {
        <script type="module" src="~/Scripts/Views/Movies/IndexRead.js"></script>
    }
}